services:
  frontend:
    container_name: biasbreaker-frontend
    image: dhruv2k3/biasbreaker-frontend:latest
    pull_policy: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always